<h1>Edit Consultant</h1>
<div class="row">
    <div class="col-md-5">
        <form name="formEditConsultant" novalidate ng-submit="edit()">
            <div class="form-group">
                <label for="Name">Name</label>
                <input name="Name" type="text" class="form-control" ng-required="true" placeholder="Enter Name" ng-model="con.Name">
                <span style="color:red" ng-show="formEditConsultant.Name.$error.required" oninvalid="true">Please Enter Consultant Name</span>
            </div>
            <div class="form-group">
                <label for="Desc">Description</label>
                <input name="Desc" type="text" class="form-control" placeholder="Enter description" ng-model="con.Desc">
            </div>
            <div class="form-group">
                <label for="isActive">
                    Active
                    <input type="checkbox" name="isActive" ng-model="con.isActive" />
                </label>
            </div>
            <a href="#/consultant" class="btn btn-default">Cancel</a>
            <button type="submit" ng-disabled="formEditConsultant.$invalid" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>