<style type="text/css">
    .purchase-order-container {
        font-size: 12px !important;
    }

    table.purchase-entry > tbody > tr > td {
        padding: 3px !important;
    }

    table.purchase-entry > tbody > tr > td {
        line-height: 1.29 !important;
    }

    .editable-error, span.error {
        color: red !important;
    }

    div.purchase-order-container .form-control {
        font-size: 12px !important;
    }

    span.product-id {
        display: none !important;
    }

    .TextBoxAsLabel {
        border: none;
        background-color: #fff;
        border: none !important;
        background: transparent;
    }

    .TextBoxSize{
        width: 100px;
    }

    .products-list {
        position: absolute;
        top: 0;
        left: 0;
        display: table;
        background: white;
        box-shadow: rgb(0, 0, 0, 0.175) 0 6px 12px;
        border-radius: 3px;
        border-collapse: separate;
    }
    .products-list .products-list-item, .products-list .products-list-header {
        display: table-row;
    }
    .products-list .products-list-header span {
        font-weight: bold;
    }
    .products-list .products-list-item.active {
        background: #5d9cec;
        color: white;
    }
    .products-list .products-list-item span, .products-list .products-list-header span {
        display: table-cell;
        padding: 10px;
    }
    .dropdown-menu {
        max-height: 160px;
        overflow: auto;
    }
</style>

<h3 class="nav-wrapper">Purchase Receivable </h3>
<div ng-if="dataLoading">
    <i class="fa fa-spinner"></i>
</div>
<div class="purchase-order-container" ng-hide="dataLoading">
    <form class="form-horizontal" name="formPurchaseHeader" novalidate ng-submit="savePurchase()">
        <div class="row">
            <div class="col-xs-12 col-md-3" hidden>
                <div class="form-group">
                    <label class="col-lg-5 control-label">GRN No</label>
                    <div class="col-lg-7">
                        <span ng-model="purchaseHeader.GrnNo"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="GrnDate" class="col-lg-5 control-label">GRN Date</label>
                    <div class="col-lg-7">
                        <p class="input-group">
                            <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="purchaseHeader.GrnDate" is-open="openedGRNDatePicker" datepicker-options="dateOptions" close-text="Close"
                                   class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="openDatePicker($event,'openedGRNDatePicker')" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </span>
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group" hidden>
                    <label for="ddlPO" class="col-lg-5 control-label">PO No</label>
                    <div class="col-lg-7">
                        <select name="ddlPO" class="form-control form-control-rounded" ng-model="purchaseHeader.POrderNo">
                            <option value="">--Select PO No--</option>
                            <option ng-repeat="order in purchaseOrders" value="{{order.Id}}">{{order.Name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SupplierId" class="col-lg-4 control-label">SupplierName</label>
                    <div class="col-lg-8">
                        <input name="SupName" type="text" class="form-control" ng-model="purchaseHeader.SupName" ng-required="true" required
                               typeahead="supp.label for supp in supplList($viewValue) | filter:$viewValue"
                               typeahead-on-select='onSupplierSelect($item, $model, $label)'>
                        <input name="SupplierId" type="hidden" class="form-control" ng-model="purchaseHeader.SupplierId">
                        <!--<select name="SupplierId" class="form-control form-control-rounded" ng-disabled="viewMode" ng-required="true" required ng-model="purchaseHeader.SupplierId">
                <option value="">--Select Supplier--</option>
                <option ng-repeat="sup in suppliers" value="{{sup.Id}}">{{sup.Name}}</option>
            </select>
            <i ng-click="addNewSuplr()" class="fa fa-plus" style="color: white;cursor: pointer;height: 16px;width: 16px;text-align:center;border-radius:50%;background: #03A9F4;padding: 2px;box-shadow: #333 0 1px 2px;margin:2px;"></i>-->
                        <span style="color:red" ng-show="formPurchaseHeader.SupName.$error.required" oninvalid="true">Please select supplier</span>
                        <span class="error" ng-show="formPurchaseHeader.SupName.$error.number">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DueDate" class="col-lg-4 control-label">Due Date</label>
                    <div class="col-lg-8">
                        <p class="input-group">
                            <!--<input type="text" datepicker-popup="dd/MM/yyyy" ng-model="purchaseHeader.CreditDate" is-open="openedDueDatePicker" datepicker-options="dateOptions" close-text="Close"
                       class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="openDatePicker($event,'openedDueDatePicker')" class="btn btn-default">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>-->
                            <input type="text" datepicker-popup="dd/MM/yyyy" ng-disabled="viewMode" ng-model="purchaseHeader.CreditDate" is-open="openedDueDatePicker" datepicker-options="dateOptions" close-text="Close"
                                   class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="viewMode" ng-click="openDatePicker($event,'openedDueDatePicker')" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <a href="#/" class="btn btn-default">Exit</a>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <button ng-click="$event.stopPropagation();$event.preventDefault();holdPurchase();" ng-hide="viewMode" class="btn btn-warning">Hold</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                
                <div class="form-group">
                    <label for="SupplierInvNo" class="col-lg-4 control-label">Invoice No</label>
                    <div class="col-lg-8">
                        <!--<input name="SupplierInvNo" type="text" class="form-control" ng-required="true" required ng-model="purchaseHeader.SupplierInvNo">
            <span style="color:red" ng-show="formPurchaseHeader.SupplierInvNo.$error.required" oninvalid="true">Please enter invoice no</span>-->
                        <input name="SupplierInvNo" ng-disabled="viewMode" type="text" class="form-control" ng-required="true" required ng-model="purchaseHeader.SupplierInvNo"
                               typeahead="invno.label for invno in invoicenoList($viewValue) | filter:$viewValue">
                        <span style="color:red" ng-show="formPurchaseHeader.SupplierInvNo.$error.required" oninvalid="true">Please enter invoice no</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InvDate" class="col-lg-4 control-label">Invoice Date</label>
                    <div class="col-lg-8">
                        <p class="input-group">
                            <!--<input type="text" datepicker-popup="dd/MM/yyyy" ng-model="purchaseHeader.SupplierInvDate" is-open="openedInvDatePicker" datepicker-options="dateOptions" close-text="Close"
                       class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="openDatePicker($event,'openedInvDatePicker')" class="btn btn-default">
                        <em class="fa fa-calendar"></em>
                    </button>
                </span>-->
                            <input type="text" datepicker-popup="dd/MM/yyyy" ng-disabled="viewMode" ng-model="purchaseHeader.SupplierInvDate" is-open="openedInvDatePicker" datepicker-options="dateOptions" close-text="Close"
                                   class="form-control" />
                            <span class="input-group-btn">
                                <button type="button" ng-disabled="viewMode" ng-click="openDatePicker($event,'openedInvDatePicker')" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <button type="submit" ng-disabled="formPurchaseHeader.$invalid" ng-hide="viewMode" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group" hidden>
                    <label for="DueDays" class="col-lg-4 control-label">Due Days</label>
                    <div class="col-lg-8">
                        <input name="DueDays" type="number" class="form-control" placeholder="" ng-model="purchaseHeader.CreditPeriod">
                        <span class="error" ng-show="formPurchaseHeader.DueDays.$error.number">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DiscountPercent" class="col-lg-4 control-label">Disc%</label>
                    <div class="col-lg-8">
                        <!--<input name="DiscountPercent" type="number" step="any" min="0" class="form-control" placeholder="" ng-model="purchaseHeader.DiscountPercent">-->
                        <input name="DiscountPercent" ng-disabled="viewMode" type="number" step="any" min="0" class="form-control" placeholder="" ng-model="purchaseHeader.DiscountPercent">
                        <span class="error" ng-show="formPurchaseHeader.DiscountPercent.$error.number">
                            Not valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TotalBillAmt" class="col-lg-4 control-label">Total Amount</label>
                    <div class="col-lg-8">
                        <!--<input name="TotalBillAmt" type="number" class="form-control" placeholder="" ng-required="true" ng-pattern="/^0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*$/" ng-model="purchaseHeader.TotalAmount">-->
                        <input name="TotalBillAmt" ng-disabled="viewMode" type="number" class="form-control" placeholder="" ng-required="true" ng-pattern="/^0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*$/" ng-model="purchaseHeader.TotalAmount">
                        <span class="error" ng-show="formPurchaseHeader.TotalBillAmt.$error.number">
                            Not valid number!
                        </span>
                        <span class="error" ng-show="formPurchaseHeader.TotalBillAmt.$error.pattern">
                            Value should be greater than zero
                        </span>
                        <span style="color:red" ng-show="formPurchaseHeader.TotalBillAmt.$error.required" oninvalid="true">Please enter total amount</span>
                    </div>

                </div>
              <!--  <div class="form-group">
                    <label for="TotalVatAmount" class="col-lg-5 control-label">Vat Amount</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.TotalVatAmount| number}}</span>
                        </div>
                    </div>

                </div>-->
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="col-lg-5 control-label">Calc Amount</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.NetAmount | number}}</span>
                        </div>
                    </div>


                    <label for="DiffAmount" class="col-lg-5 control-label">Diff Amount</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.DiffAmount| number}}</span>
                        </div>
                    </div>


                    <label for="RoundOff" class="col-lg-5 control-label">Round Off</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.RoundOff| number}}</span>
                        </div>
                    </div>


                    <label for="TotalDiscount" class="col-lg-5 control-label">Total Discount</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.TotalDiscount| number}}</span>
                        </div>
                    </div>
                    <label for="TotalVatAmount" class="col-lg-5 control-label">Vat Amount</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            <span>{{purchaseHeader.TotalVatAmount| number}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--<div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="#/" class="btn btn-default">Cancel</a>
                <button type="submit" ng-disabled="formPurchaseHeader.$invalid" class="btn btn-primary">Save</button>
            </div>
        </div>-->
    </form>
    
        <div class="row" style="overflow-y:auto;height:300px">
            <div class="purchase-entry-data" style="margin-top:5px" ng-if="totalBillAmountEntered">

                <table class="table table-bordered table-hover table-condensed purchase-entry">
                    <thead>
                        <tr class="info">
                            <th></th>
                            <th>S#</th>
                            <th>Drug Name</th>
                            <th class="hidden"></th>
                            <th>BatchNo</th>
                            <th>Manufacturer</th>
                            <th class="hidden"></th>
                            <th>Pack</th>
                            <th>Qty</th>
                            <th>Free</th>
                            <th>ExpDate</th>
                            <th>Cost</th>
                            <th>MRP</th>
                            <th>AsstQty</th>
                            <th>Disc%</th>
                            <th>Disc</th>
                            <th>VAT%</th>
                            <th>VAT</th>

                            <th>AsstCost</th>
                            <th>TotCost</th>
                            <th>NetCost</th>

                            <th>AsstMRP</th>
                            <th>TotMRP</th>
                            <th>NetMRP</th>
                            <th>AbtMRP(S)</th>
                            <th>AbtMRP(T)</th>

                            <th>TaxMode</th>
                            <th>TaxType</th>
                            <th>DiscAppl</th>

                            <th>VATFree </th>
                            <th>VATFreeAmt</th>
                            <th>VATDisc</th>
                            <th>VATDiscAmt</th>
                            <th>DiscFree </th>
                            <th>DiscFreeAmt</th>
                            <th>TotDisc</th>
                            <th>TotVAT</th>
                            <th>NetVAT</th>
                            <th>Rack <i ng-click="addNewRack()" class="fa fa-plus" style="color: white;cursor: pointer;height: 16px;width: 16px;text-align:center;border-radius:50%;background: #03A9F4;padding: 2px;box-shadow: #333 0 1px 2px;margin:2px;"></i></th>
                            <th>Unit</th>
                            <th>DetId</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="order in purchaseOrders" ng-init="$last && repeaterRefreshed()" id="{{'tr' + $index}}">

                            <td style="white-space: nowrap" ng-hide="viewMode">
                                <!-- form -->
                                <form editable-form name="rowform" onaftersave="savePurchaseItem($data, order.Id, rowform, $index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == order">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs hidden">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelProduct(order,rowform)" class="btn btn-default">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-primary" ng-click="rowform.$show()"><em class="fa fa-edit"></em></button>
                                    <button class="btn btn-danger" ng-click="removeProduct(order)"><em class="fa fa-trash"></em></button>
                                </div>
                            </td>
                            <td>{{$index + 1}}</td>
                            <td>
                                <span editable-text="order.ProductName" e-name="ProductName" e-id="{{'ProductName' + $index}}" e-form="rowform" e-class="product-typeahead" e-required
                                      e-typeahead="prod.label for prod in productList($viewValue) | filter:$viewValue"
                                      e-typeahead-on-select='onProductSelect($item, $model, $label, rowform, order, $index)' onbeforesave="checkProductName($data, rowform)" onshow="focusProductName(rowform)">
                                    <!--e-typeahead-on-select='onProductSelect($item, $model, $label, rowform, order)' onbeforesave="checkProductName($data, rowform)" onshow="focusProductName(rowform)">-->
                                    {{ showProductName(order) }}
                                </span>
                                <div id="{{'ProductsItemList' + $index}}"></div>
                            </td>
                            <td hidden>
                                <span editable-number="order.ProductId" e-ng-show="false" e-name="ProductId" e-class="ng-hide product-id" e-form="rowform">
                                    {{ order.ProductId || 0 }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="order.BatchNo" e-name="BatchNo" e-form="rowform" e-required>
                                    {{ order.BatchNo || '' }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="order.ManufacturerName" e-name="ManufacturerName" e-form="rowform" e-class="manf-typeahead" e-required
                                      e-typeahead="manf.label for manf in manfList($viewValue) | filter:$viewValue"
                                      e-typeahead-on-select='onManfSelect($item, $model, $label, rowform, order)' onbeforesave="checkManufacturer($data, rowform)">
                                    {{ showManfName(order) }}
                                </span>
                            </td>
                            <td hidden>
                                <span editable-number="order.ManufacturerId" e-ng-show="false" e-name="ManufacturerId" e-class="ng-hide manf-id" e-form="rowform">
                                    {{ order.ManufacturerId || 0 }}
                                </span>
                            </td>
                            <td>
                                <span e-min="1" e-step="1" editable-number="order.Packing" e-name="Packing" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-style="width:50px" e-form="rowform">
                                    {{ order.Packing || 1 }}
                                </span>
                            </td>
                            <td>
                                <span editable-number="order.Qty" e-style="width:50px" e-min="1" e-step="1" e-name="Qty" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-form="rowform">
                                    {{ order.Qty || 1 }}
                                </span>
                            </td>
                            <td>
                                <span e-min="0" e-step="1" editable-number="order.FreeQty" e-name="FreeQty" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-style="width:50px" e-form="rowform">
                                    {{ order.FreeQty || 0 }}
                                </span>
                            </td>
                            <td>
                                <span editable-text="order.ExpiryDate" e-name="ExpiryDate" onbeforesave="checkExpDate($data, rowform)" e-style="width:50px" e-form="rowform">
                                    {{ order.ExpiryDate || '' }}
                                </span>
                            </td>
                            <td>
                                <span e-step="any" e-min="0" editable-number="order.CostPrice" e-name="CostPrice" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-style="width:60px" e-form="rowform">
                                    {{ order.CostPrice || number }}
                                </span>
                            </td>
                            <td>
                                <span e-step="any" e-min="0" editable-number="order.MRP" e-name="MRP" e-ng-blur="checkNewProductRow($data, order.Id, rowform, $index)" e-style="width:60px" e-form="rowform">
                                    {{ order.MRP || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.AssortedQty" ng-show="rowform.$visible" e-name="AssortedQty" style="width:60px" e-form="rowform">
                                    {{ calculateAssortedQty(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.AssortedQty" ng-hide="rowform.$visible" e-name="AssortedQty" e-style="width:60px" e-form="rowform">
                                    {{ order.AssortedQty || number }}
                                </span>
                            </td>
                            <td>
                                <span e-step="any" e-min="0" editable-number="order.DiscountPercentage" e-name="DiscountPercentage" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-style="width:40px" e-form="rowform">
                                    {{ order.DiscountPercentage || '' }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.DiscountAmount" ng-show="rowform.$visible" e-name="DiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateDiscountAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.DiscountAmount" ng-hide="rowform.$visible" e-name="DiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.DiscountAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.VAT" e-name="VAT" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="tm.value as tm.text for tm in taxes" e-style="width:40px">
                                    {{ showSelectedVAT(order) }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.VATAmount" ng-show="rowform.$visible" e-name="VATAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateVATAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.VATAmount" ng-hide="rowform.$visible" e-name="VATAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.VATAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.AssortedCostPrice" ng-show="rowform.$visible" e-name="AssortedCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ calculateAssortedCostPrice(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.AssortedCostPrice" ng-hide="rowform.$visible" e-name="AssortedCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ order.AssortedCostPrice || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.TotalCostPrice" ng-show="rowform.$visible" e-name="TotalCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ calculateTotalCostPrice(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.TotalCostPrice" ng-hide="rowform.$visible" e-name="TotalCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ order.TotalCostPrice || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.NetCostPrice" ng-show="rowform.$visible" e-name="NetCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ calculateNetCostPrice(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.NetCostPrice" ng-hide="rowform.$visible" e-name="NetCostPrice" e-style="width:60px" e-form="rowform">
                                    {{ order.NetCostPrice || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.AssortedMRPPrice" ng-show="rowform.$visible" e-name="AssortedMRPPrice" e-style="width:60px" e-form="rowform">
                                    {{ calculateAssortedMRPPrice(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.AssortedMRPPrice" ng-hide="rowform.$visible" e-name="AssortedMRPPrice" e-style="width:60px" e-form="rowform">
                                    {{ order.AssortedMRPPrice || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.TotalMRP" ng-show="rowform.$visible" e-name="TotalMRP" e-style="width:60px" e-form="rowform">
                                    {{ calculateTotalMRP(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.TotalMRP" ng-hide="rowform.$visible" e-name="TotalMRP" e-style="width:60px" e-form="rowform">
                                    {{ order.TotalMRP || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.NetMRP" ng-show="rowform.$visible" style="width:60px" e-name="NetMRP" e-style="width:60px" e-form="rowform">
                                    {{ calculateNetMRP(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.NetMRP" ng-hide="rowform.$visible" e-name="NetMRP" e-style="width:60px" e-form="rowform">
                                    {{ order.NetMRP || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.sAbatedMRP" ng-show="rowform.$visible" style="width:60px" e-name="sAbatedMRP" e-style="width:60px" e-form="rowform">
                                    {{ calculateSingleAbatedMRP(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.sAbatedMRP" ng-hide="rowform.$visible" e-name="sAbatedMRP" e-style="width:60px" e-form="rowform">
                                    {{ order.sAbatedMRP || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.AbatedMRP" ng-show="rowform.$visible" style="width:60px" e-name="AbatedMRP" e-style="width:60px" e-form="rowform">
                                    {{ calculateAbatedMRP(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.AbatedMRP" ng-hide="rowform.$visible" e-name="AbatedMRP" e-style="width:60px" e-form="rowform">
                                    {{ order.AbatedMRP || number }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.TaxMode" e-name="TaxMode" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="tm.value as tm.text for tm in taxModes">
                                    {{ showSelectedTaxMode(rowform) }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.TaxType" e-name="TaxType" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="tt.value as tt.text for tt in taxTypes">
                                    {{ showSelectedTaxType(order) }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.DiscApplicable" e-name="DiscApplicable" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="dt.value as dt.text for dt in disType">
                                    {{ showSelectedDiscApplicable(order) }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.VATOnFreeQty" e-name="VATOnFreeQty" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="yn.value as yn.text for yn in YesNoType">
                                    {{ showSelectedVATOnFreeQty(order) }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.FreeQtyVATAmount" ng-show="rowform.$visible" e-name="FreeQtyVATAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateFreeQtyVATAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.FreeQtyVATAmount" ng-hide="rowform.$visible" e-name="FreeQtyVATAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.FreeQtyVATAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.VATOnDiscount" e-name="VATOnDiscount" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="yn.value as yn.text for yn in YesNoType">
                                    {{ showSelectedVATOnDiscount(order) }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.VatOnDiscountAmount" ng-show="rowform.$visible" e-name="VatOnDiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateVatOnDiscountAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.VatOnDiscountAmount" ng-hide="rowform.$visible" e-name="VatOnDiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.VatOnDiscountAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.DiscOnFreeQty" e-name="DiscOnFreeQty" e-form="rowform" e-ng-blur="calculateexistingRow($data, order.Id, rowform, $index)" e-ng-options="yn.value as yn.text for yn in YesNoType">
                                    {{ showSelectedDiscOnFreeQty(order) }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.DiscOnFreeQtyAmount" ng-show="rowform.$visible" e-name="DiscOnFreeQtyAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateDiscOnFreeQtyAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.DiscOnFreeQtyAmount" ng-hide="rowform.$visible" e-name="DiscOnFreeQtyAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.DiscOnFreeQtyAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.TotalDiscountAmount" ng-show="rowform.$visible" e-name="TotalDiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateTotalDiscountAmountt(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.TotalDiscountAmount" ng-hide="rowform.$visible" e-name="TotalDiscountAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.TotalDiscountAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.TotalVatAmount" ng-show="rowform.$visible" e-name="TotalVatAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateTotalVatAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.TotalVatAmount" ng-hide="rowform.$visible" e-name="TotalVatAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.TotalVatAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span ng-model="rowform.$data.NetVATAmount" ng-show="rowform.$visible" e-name="NetVATAmount" e-style="width:60px" e-form="rowform">
                                    {{ calculateNetVATAmount(rowform.$data) }}
                                </span>
                                <span ng-model="rowform.$data.NetVATAmount" ng-hide="rowform.$visible" e-name="NetVATAmount" e-style="width:60px" e-form="rowform">
                                    {{ order.NetVATAmount || number }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.RackId" e-name="RackId" e-form="rowform" e-ng-options="r.Id as r.Name for r in racks">
                                    {{ showSelectedRack(order) }}
                                </span>
                            </td>
                            <td>
                                <span editable-select="order.UnitId" e-name="UnitId" e-form="rowform" onbeforesave="checkUnit($data, rowform)" e-ng-options="u.Id as u.Name for u in units">
                                    {{ showSelectedUnit(order) }}
                                </span>
                            </td>
                            <td>
                                <span editable-number="order.Id" e-ng-show="true" e-name="Id" e-form="rowform">
                                    {{ order.Id || 0 }}
                                </span>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    <!--<button class="btn btn-sm btn-primary" ng-click="addNewProduct()">Add row</button>-->
    
<div id="show-purchase-login" tabindex="-1" role="dialog" aria-labelledby="show-purchase-login-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Authorize</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 hidden">
                        <div class="form-group">
                            <label for="UserName" class="col-lg-5 control-label">User Name</label>
                            <div class="col-lg-7">
                                <input name="UserName" type="text" class="form-control" ng-required="true" required ng-model="purchaseHeader.SavedUser.UserName">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden">
                        <div class="form-group">
                            <label for="Password" class="col-lg-5 control-label">Password</label>
                            <div class="col-lg-7">
                                <input name="Password" type="password" class="form-control" ng-required="true" required ng-model="purchaseHeader.SavedUser.Password">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-lg-10">
                                <span>Are you sure want to save Bill?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                <button type="button" id="authorize" class="btn btn-primary btn-success hidden">
                    Authorize
                    <span class="btn-label" ng-show="validatingCredentials">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>
                <button type="button" id="oksave" class="btn btn-primary btn-success">
                    Yes
                    <span class="btn-label" ng-show="saveauthorized">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="show-add-drug" tabindex="-1" role="dialog" aria-labelledby="show-add-drug-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Add Drug</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Name">Drug Name</label>
                            <input name="Name" type="text" class="form-control  text-uppercase" ng-required="true" placeholder="Enter Drug Name" ng-model="newDrug.Name" required>
                        </div>
                        <div class="form-group">
                            <label for="CategoryId">Category</label>
                            <select name="CategoryId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.CategoryId" ng-required="true" required>
                                <option value="">--Select Category--</option>
                                <option ng-repeat="cat in newDrug_category" value="{{cat.Id}}">{{cat.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="TypeId">Type</label>
                            <select name="TypeId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.TypeId" ng-required="true" required>
                                <option value="">--Select Type--</option>
                                <option ng-repeat="type in newDrug_Type" value="{{type.Id}}">{{type.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ManfId">Manufacturer</label>
                            <select name="ManfId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.ManfId" ng-required="true" required>
                                <option value="">--Select Manufacturer--</option>
                                <option ng-repeat="manuf in newDrug_Man" value="{{manuf.Id}}">{{manuf.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="MainCategoryId">Content</label>
                            <select name="MainCategoryId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.MainCategoryId" ng-required="true" required>
                                <option value="">--Select Content--</option>
                                <option ng-repeat="cont in newDrug_Content" value="{{cont.Id}}">{{cont.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="GenericId">Generic Name</label>
                            <select name="GenericId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.GenericId" ng-required="true" required>
                                <option value="">--Select Generic--</option>
                                <option ng-repeat="genc in newDrug_Generic" value="{{genc.Id}}">{{genc.Name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="UnitId">Unit</label>
                            <select name="UnitId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.UnitId" ng-required="true" required>
                                <option value="">--Select Unit--</option>
                                <option ng-repeat="unit in newDrug_unit" value="{{unit.Id}}">{{unit.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="RackId">Rack</label>
                            <select name="RackId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.RackId" ng-required="true" required>
                                <option value="">--Select Rack--</option>
                                <option ng-repeat="rack in newDrug_rack" value="{{rack.Id}}">{{rack.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="TaxId">Tax</label>
                            <select name="TaxId" class="form-control form-control-rounded text-uppercase" ng-model="newDrug.TaxId" ng-required="true" required>
                                <option value="">--Select Tax--</option>
                                <option ng-repeat="tax in newDrug_tax" value="{{tax.Id}}">{{tax.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" id="addDrug" class="btn btn-primary btn-success">
                    Add
                    <span class="btn-label" ng-show="newDrug_addingDrug">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div id="show-add-mfg" tabindex="-1" role="dialog" aria-labelledby="show-add-mfg-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Add Manufacturer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Name">Manufacturer Name</label>
                            <input name="Name" type="text" class="form-control  text-uppercase" ng-required="true" placeholder="Enter Manufacturer" ng-model="newMfg.Name" required>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" id="addMfg" class="btn btn-primary btn-success">
                    Add
                    <span class="btn-label" ng-show="newMfg_addingMfg">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div id="show-add-suplr" tabindex="-1" role="dialog" aria-labelledby="show-add-suplr-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Add Supplier</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Name">Supplier Name</label>
                            <input name="Name" type="text" class="form-control  text-uppercase" ng-required="true" placeholder="Enter Supplier" ng-model="newSuplr.Name" required>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" id="addSuplr" class="btn btn-primary btn-success">
                    Add
                    <span class="btn-label" ng-show="newSuplr_addingSuplr">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div id="show-add-rack" tabindex="-1" role="dialog" aria-labelledby="show-add-rack-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Add Rack</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Name">Rack Name</label>
                            <input name="Name" type="text" class="form-control  text-uppercase" ng-required="true" placeholder="Enter Rack" ng-model="newRack.Name" required>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" id="addRack" class="btn btn-primary btn-success">
                    Add
                    <span class="btn-label" ng-show="newRack_addingRack">
                        <i class="fa fa-spinner"></i>
                    </span>
                </button>

            </div>
        </div>
    </div>
</div>

<div id="new-row-popup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Where</h4>
            </div>
            <div class="modal-body">
                <label for='#entry-row'>Row :</label>
                <select id='entry-row' class="form-control" ng-model="newRow.row">
                    <option ng-repeat="order in purchaseOrders" value="{{$index}}">{{$index+1}}</option>
                </select>
                <br />
                <label for='#entry-position'>Position :</label>
                <select id='entry-position' class="form-control" ng-model="newRow.position">
                    <option value="0">BEFORE</option>
                    <option value="1">AFTER</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" id='insert-row' class="btn btn-success">Insert</button>
            </div>
        </div>
    </div>
</div>
