<h3>Supplier</h3>
<div class="col-lg-12">
    <p>
        <table>
            <tr>
                <td style="width:50%">
                    <a href="#/supplier/add" class="btn btn-primary">Add Supplier</a>
                </td>
                <td style="padding-left:250px">
                    <label class="text-dark text-green text-bold"></label>
                </td>
                <td>
                    <input name="Name" type="text" class="form-control text-pink ui-search-toolbar" placeholder="Supplier Name" ng-model="supplierName" />
                </td>
            </tr>
        </table>
    </p>
    <!-- START panel-->
    <div class="panel panel-default">

        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th></th>
                        <th>Supplier</th>
                        <th>Type</th>
                        <th>Address</th>
                        <th>TinNo</th>
                        <th>City</th>
                        <th>ContactBy</th>
                        <th>MobileNo</th>
                        <th>IsActive</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in suppliers | filter:supplierName">
                        <td>{{supplier.SlNo}}</td>
                        <td>
                            <a href="#/supplier/edit/{{supplier.Id}}" class="btn btn-labeled btn-purple btn-xs">
                                <span class="btn-label"><i class="fa fa-edit"></i></span>
                                <span class="hidden-xs"></span>
                            </a>
                            <a ng-click="delete(supplier.Id)" class="btn btn-labeled btn-danger btn-xs">
                                <span class="btn-label"><i class="fa fa-times"></i></span>
                                <span class="hidden-xs"></span>
                            </a>
                        </td>
                        <td>{{supplier.Name}}</td>
                        <td>{{supplier.Type}}</td>
                        <td>{{supplier.Address}}</td>
                        <td>{{supplier.TinNo}}</td>
                        <td>{{supplier.City}}</td>
                        <td>{{supplier.ContactPerson}}</td>
                        <td>{{supplier.MobileNo}}</td>
                        <td><em ng-show="supplier.isActive" class="fa fa-fw fa-check text-success"></em></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
    </div>
    <!-- END panel-->
</div>

<div id="confirm-supplier-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-supplier-delete-lable" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabelSmall" class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">Are you sure, you want to delete this Supplier?</div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" id="delete" class="btn btn-primary btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
