<h3>Add Role</h3>
<div class="row">
    <div class="col-md-6">
        <form name="formAddRole" novalidate ng-submit="add()">
            <div class="form-group">
                <label for="Name">Name</label>
                <input name="Name" type="text" class="form-control" ng-required="true" placeholder="Enter Name" ng-model="role.RoleName" required>
                <span style="color:red" ng-show="formAddRole.Name.$error.required" oninvalid="true">Please Enter Role Name</span>
            </div>
            <div class="form-group">
                <label for="Desc">Description</label>
                <input name="Desc" type="text" class="form-control" placeholder="Enter description" ng-model="role.Description">
            </div>
         
            <a href="#/role" class="btn btn-default">Cancel</a>
            <button type="submit" ng-disabled="formAddRole.$invalid" class="btn btn-primary">Save</button>

           
        </form>
        <div ivh-treeview="role.stuff" class="col-sm-12">
        </div>
    </div>
</div>

