<h1>Edit Rack</h1>
<div class="row">
    <div class="col-md-5">
        <form name="formEditRack" novalidate ng-submit="edit()">
            <div class="form-group">
                <label for="Name">Name</label>
                <input name="Name" type="text" class="form-control" ng-required="true" placeholder="Enter Name" ng-model="rack.Name">
                <span style="color:red" ng-show="formEditRack.Name.$error.required" oninvalid="true">Please Enter RackName</span>
            </div>
            <div class="form-group">
                <label for="Desc">Description</label>
                <input name="Desc" type="text" class="form-control" placeholder="Enter description" ng-model="rack.Desc">
            </div>
            <div class="form-group">
                <label for="isActive">
                    Active
                    <input type="checkbox" name="isActive" ng-model="rack.isActive" />
                </label>
            </div>
            <a href="#/rack" class="btn btn-default">Cancel</a>
            <button type="submit" ng-disabled="formEditRack.$invalid" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>